workua.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (http://www.altova.com) by Oleksandr (NURE) -->
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="4"/>
				<xs:enumeration value="Бровари"/>
				<xs:enumeration value="Дніпро"/>
				<xs:enumeration value="Київ"/>
				<xs:enumeration value="Одеса"/>
				<xs:enumeration value="Харків"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="company_name" type="xs:string"/>
	<xs:element name="items_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="work" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job" type="xs:string"/>
	<xs:element name="salary">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_salary">
					<xs:attribute name="currency" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="hrivna"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="work">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job">
					<xs:annotation>
						<xs:documentation>The offered work</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="company_name">
					<xs:annotation>
						<xs:documentation>Company which offered the job</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="salary">
					<xs:annotation>
						<xs:documentation>Payment</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="city">
					<xs:annotation>
						<xs:documentation>Downtown where the office locates</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="element 0"/>
						<xs:enumeration value="element 1"/>
						<xs:enumeration value="element 10"/>
						<xs:enumeration value="element 11"/>
						<xs:enumeration value="element 12"/>
						<xs:enumeration value="element 2"/>
						<xs:enumeration value="element 3"/>
						<xs:enumeration value="element 4"/>
						<xs:enumeration value="element 5"/>
						<xs:enumeration value="element 6"/>
						<xs:enumeration value="element 7"/>
						<xs:enumeration value="element 8"/>
						<xs:enumeration value="element 9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_salary">
		<xs:restriction base="xs:string">
			<xs:enumeration value="10000"/>
			<xs:enumeration value="10000–13000"/>
			<xs:enumeration value="12500"/>
			<xs:enumeration value="15000"/>
			<xs:enumeration value="15000–20000"/>
			<xs:enumeration value="25000"/>
			<xs:enumeration value="30000"/>
			<xs:enumeration value="40000"/>
			<xs:enumeration value="50000–70000"/>
			<xs:enumeration value="9000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
